.mainPane {
    -fx-background-color: linear-gradient(to bottom right, #152D35,#112031);

    -fx-background-radius: 25;
}

.cerrar {
    -fx-background-color: #AD2427;
    -fx-background-radius: 25;
}

.cerrar:hover {
    -fx-background-color: #FF0005;
    -fx-scale-y: 1.1;
    -fx-scale-x: 1.1;
}

.minimizar {
    -fx-background-color: #84D248;
    -fx-background-radius: 25;
}

.minimizar:hover {
    -fx-background-color: #75FF0C;
    -fx-scale-y: 1.1;
    -fx-scale-x: 1.1;
}


.highlight {
    -fx-background-color: #00000025;
    -fx-background-radius: 15;
    -fx-text-fill: #FFFFFF;
}

/*.highlight:hover {*/
/*    -fx-background-color: rgba(64, 61, 61, 0.15);*/
/*    -fx-background-radius: 15;*/
/*    -fx-text-fill: #696767;*/
/*}*/

.band{
-fx-background-color: transparent;
}

.band:hover{
    -fx-scale-y: 1.3;
    -fx-scale-x: 1.3;
}
